body { background: #898e82; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 49px; display: flex; }
.block-session-0 { color: #c482ba; font-size: 19px; margin-bottom: 5px; }
.block-notify-1 { color: #d9ef46; font-size: 13px; margin-bottom: 5px; }
.block-search-2 { color: #240313; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #8c3d4f; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #23cbc6; font-size: 21px; margin-bottom: 5px; }